body{
  background-color: #C5E4E7 ;
}
.summa-input::-webkit-outer-spin-button,
.summa-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.summa-input{
  background-color: #c6e6f9;
}

.btn-num5, .btn-num10, .btn-num15, .btn-num25, .btn-num50{
  background-color: #00474B;
  width: 31%;
}

.btn-num5::after, .btn-num10::after, .btn-num15::after, .btn-num25::after, .btn-num50::after{
  content: " %";
}

.btn-num5, .btn-num25{
  margin-left: 0 !important;
}

.btn-num15, .custom-input{
  margin-right: 0 !important;
  width: 31%;
}

.custom-input::-webkit-outer-spin-button,
.custom-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.custom-input{
  background-color: #c6e6f9;
}

.custom-input::placeholder{
  color: #5B9398;
}

.number-person-input::-webkit-outer-spin-button,
.number-person-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.number-person-input{
  background-color: #c6e6f9 !important;
}


.col-lg-6:last-child{
  background-color: #00474B;
}

.person-content-text, .total-content-text{
  color: #5B9398;
}

.person-sum, .total-sum{
  color: #2ABEA8;
}

.person-sum::before, .total-sum::before{
  content: "$";
  display: inline-block;
  margin-right: 10px;
}

.reset-input{
  color: #10e0eb;
  background-color: #0D686D;
}

.reset-input:hover{
  box-shadow: 0 0 15px 5px cyan;
  text-shadow: 1px 1px 4px blue !important;
}

.reset-input:active{
  transform: scale(.97);
}
